@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@font-face {
    font-family: 'Comic Cat';
    src: url('./src/Comic_CAT.otf');
}
html{
    font-size: 20px;
}
body{
    background-color: #BDD7EE;
    font-family: 'Comic Cat';
    min-height: calc(100vh - 40px);
    padding: 20px;
    margin: 0;
}
h2{
    margin-top: 10px;
    color: #1F4E79;
    text-align: center;
}
img{
    max-width: 400px;
    width: 100%;
}
.round-corners{
    max-width: 100%;
    width: 100%;
    border-radius: 30px;
}
.regular-paragraph{
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-send{
    background-color: #ff641a;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: 'Comic Cat';
    padding: 20px 30px;
    border-radius: 30px;
}
.btn-send:active{
    background-color: #f8996d;
}
.btn-wrapper{
    padding-top: 18px;
    text-align: center;
}


.active{
    display: block;
}
.none-active{
    display: none;
}

.vertical-align{
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question{
    margin-bottom: 5px;
}
.answer{
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 6em;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #000;
    border-radius: 0;
    resize: none;
}
.answer:focus{
    outline: none !important;
    border-radius: 0;
    border: 2px solid #ff641a;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-radio+label {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #ff641a;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-radio:checked+label::before {
    border-color: #ff641a;
    background-color: #ff641a;
}
.radio {
    margin-bottom: 0.4em;
}